body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stock-container {
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin-top: 1%;
  font-size: 35px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 15px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%; /* Add this line */
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

th {
  border: 2px solid black;
  padding: 1%;
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}


button {
  width: 80px;
  height: 30px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  margin: 5px;
  margin-top: 10px;
 }
 
 button:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 button:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }

 h5 {
  margin-bottom: 4px;
  font-size: 18px;
 }

 h1 {
  margin-bottom: 2px;
  margin-top: 2px;
 }

 @media (max-width: 1200px) {
  .stock-container {
    font-size: 16px;
  }
  
  .stock-container table {
    font-size: 1.3em;
    min-width: 300px;
    width: 90%;
  }
  
  .stock-container table th,
  .stock-container table td {
    padding: 8px;
  }

  
}

@media (max-width: 900px) {
  .stock-container {
    font-size: 14px;
  }
  
  .stock-container table {
    font-size: 1.2em;
    min-width: 250px;
    width: 90%;
  }
  
  .stock-container table th,
  .stock-container table td {
    padding: 6px;
  }

}

@media screen and (max-width: 760px) {

  .stock-container table {
    font-size: 0.9em;
  }


  table thead {
    display: block;
  }
  table td {
    display: block;
  }
  
  table td::before {
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}
